* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; /* Usato per rimuovere uno spazio che si creava nell'header sotto al testo */
}

body {
  font-family: "SpotifyMixUI", Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "SpotifyMixUI";
  src: url("https://encore.scdn.co/fonts/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2")
    format("woff2");
  font-weight: lighter;
  font-style: normal;
  font-display: swap;
}

.modal-container {
  background-color: #282828;
  border-radius: 8px;
  margin-block: 32px;
  margin-inline: 32px;
  max-inline-size: 978px;
  overflow: hidden;
  width: 978px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  color: #ffffff;
  padding: 16px 24px 0;
  border-radius: 8px 8px 0px 0px;
}

.modal-header-text > h1 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
  padding: 0px 0px 8px;
}
.modal-header-text > p {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  padding-block-end: 16px;
}

.modal-button-close {
  height: 32px;
  width: 32px;
  background-color: rgba(0, 0, 0, 0.7);
  fill: #b3b3b3;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-button-close svg {
  height: 16px;
  width: 16px;
  fill: #b3b3b3;
}

.language-container {
  display: grid;
  font-size: 16px;
  grid-template-columns: repeat(4, 1fr);
  padding: 16px 24px;
  background-color: #282828;
  border-radius: 0px 0px 8px 8px;
  overflow-y: scroll;
  height: 496px;
}
.language-option {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: transparent;
  border: 0;
  color: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 16px;
}

.language-container :hover {
  background-color: #424142;
}

.language-title {
  color: #ffffff;
  margin: 3px 0px;
}

.language-subtitle {
  color: #b3b3b3;
  margin: 3px 0px;
}

@media (max-width: 991px) {
  .language-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 927px;
    height: 100vh;
  }
}

@media (max-width: 767px) {
  .language-container {
    grid-template-columns: repeat(1, 1fr);
    height: 100vh;
  }
}
