<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>modal-lenguages</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="modal-container">
      <div class="modal-header">
        <div class="modal-header-text">
          <h1>Scegli una lingua</h1>
          <p>Ciò che hai letto in open.spotify.com è stato aggiornato.</p>
        </div>
        <div class="modal-button-close">
          <svg
            data-encore-id="icon"
            role="img"
            aria-label="Chiudi"
            aria-hidden="false"
            viewBox="0 0 16 16"
            class="Svg-sc-ytk21e-0 kcUFwU"
          >
            <path
              d="M2.47 2.47a.75.75 0 0 1 1.06 0L8 6.94l4.47-4.47a.75.75 0 1 1 1.06 1.06L9.06 8l4.47 4.47a.75.75 0 1 1-1.06 1.06L8 9.06l-4.47 4.47a.75.75 0 0 1-1.06-1.06L6.94 8 2.47 3.53a.75.75 0 0 1 0-1.06Z"
            ></path>
          </svg>
        </div>
      </div>
      <div class="language-container">
        <div class="language-option">
          <span class="language-title">Afrikaans</span>
          <span class="language-subtitle">Afrikaans</span>
        </div>
        <div class="language-option">
          <span class="language-title">አማርኛ</span>
          <span class="language-subtitle">Amharic</span>
        </div>
        <div class="language-option">
          <span class="language-title">العربية</span>
          <span class="language-subtitle">Arabic</span>
        </div>
        <div class="language-option">
          <span class="language-title">عربي مصري</span>
          <span class="language-subtitle">Arabic (Egypt)</span>
        </div>
        <div class="language-option">
          <span class="language-title">العربية المغربية</span>
          <span class="language-subtitle">Arabic (Morocco)</span>
        </div>
        <div class="language-option">
          <span class="language-title">العربية السعودية</span>
          <span class="language-subtitle">Arabic (Saudi Arabia)</span>
        </div>
        <div class="language-option">
          <span class="language-title">Azərbaycan</span>
          <span class="language-subtitle">Azerbaijani</span>
        </div>
        <div class="language-option">
          <span class="language-title">বাংলা</span>
          <span class="language-subtitle">Bengali</span>
        </div>
        <div class="language-option">
          <span class="language-title">Bosanski</span>
          <span class="language-subtitle">Bosnian</span>
        </div>
        <div class="language-option">
          <span class="language-title">Български</span>
          <span class="language-subtitle">Bulgarian</span>
        </div>
        <div class="language-option">
          <span class="language-title">Català</span>
          <span class="language-subtitle">Catalan</span>
        </div>
        <div class="language-option">
          <span class="language-title">Čeština</span>
          <span class="language-subtitle">Czech</span>
        </div>
        <div class="language-option">
          <span class="language-title">Dansk</span>
          <span class="language-subtitle">Danish</span>
        </div>
        <div class="language-option">
          <span class="language-title">Deutsch</span>
          <span class="language-subtitle">German</span>
        </div>
        <div class="language-option">
          <span class="language-title">Ελληνικά</span>
          <span class="language-subtitle">Greek</span>
        </div>
        <div class="language-option">
          <span class="language-title">English</span>
          <span class="language-subtitle">English</span>
        </div>
        <div class="language-option">
          <span class="language-title">English</span>
          <span class="language-subtitle">English</span>
        </div>
        <div class="language-option">
          <span class="language-title">Español de España</span>
          <span class="language-subtitle">Spanish</span>
        </div>
        <div class="language-option">
          <span class="language-title">Español de Latinoamérica</span>
          <span class="language-subtitle">Spanish (Latin America)</span>
        </div>
        <div class="language-option">
          <span class="language-title">Eesti</span>
          <span class="language-subtitle">Estonian</span>
        </div>
        <div class="language-option">
          <span class="language-title">Filipino</span>
          <span class="language-subtitle">Filipino</span>
        </div>
        <div class="language-option">
          <span class="language-title">Français</span>
          <span class="language-subtitle">French</span>
        </div>
        <div class="language-option">
          <span class="language-title">Galego</span>
          <span class="language-subtitle">Galician</span>
        </div>
        <div class="language-option">
          <span class="language-title">ગુજરાતી</span>
          <span class="language-subtitle">Gujarati</span>
        </div>
        <div class="language-option">
          <span class="language-title">हिन्दी</span>
          <span class="language-subtitle">Hindi</span>
        </div>
        <div class="language-option">
          <span class="language-title">Hrvatski</span>
          <span class="language-subtitle">Croatian</span>
        </div>
        <div class="language-option">
          <span class="language-title">Magyar</span>
          <span class="language-subtitle">Hungarian</span>
        </div>
        <div class="language-option">
          <span class="language-title">Bahasa Indonesia</span>
          <span class="language-subtitle">Indonesian</span>
        </div>
        <div class="language-option">
          <span class="language-title">Italiano</span>
          <span class="language-subtitle">Italian</span>
        </div>
        <div class="language-option">
          <span class="language-title">日本語</span>
          <span class="language-subtitle">Japanese</span>
        </div>
        <div class="language-option">
          <span class="language-title">한국어</span>
          <span class="language-subtitle">Korean</span>
        </div>
        <div class="language-option">
          <span class="language-title">Bahasa Melayu</span>
          <span class="language-subtitle">Malay</span>
        </div>
        <div class="language-option">
          <span class="language-title">Norsk</span>
          <span class="language-subtitle">Norwegian</span>
        </div>
        <div class="language-option">
          <span class="language-title">Polski</span>
          <span class="language-subtitle">Polish</span>
        </div>
        <div class="language-option">
          <span class="language-title">Português</span>
          <span class="language-subtitle">Portuguese</span>
        </div>
        <div class="language-option">
          <span class="language-title">Română</span>
          <span class="language-subtitle">Romanian</span>
        </div>
        <div class="language-option">
          <span class="language-title">Русский</span>
          <span class="language-subtitle">Russian</span>
        </div>
        <div class="language-option">
          <span class="language-title">Српски</span>
          <span class="language-subtitle">Serbian</span>
        </div>
        <div class="language-option">
          <span class="language-title">Slovenčina</span>
          <span class="language-subtitle">Slovak</span>
        </div>
        <div class="language-option">
          <span class="language-title">Slovenščina</span>
          <span class="language-subtitle">Slovenian</span>
        </div>
        <div class="language-option">
          <span class="language-title">Kiswahili</span>
          <span class="language-subtitle">Swahili</span>
        </div>
        <div class="language-option">
          <span class="language-title">Svenska</span>
          <span class="language-subtitle">Swedish</span>
        </div>
        <div class="language-option">
          <span class="language-title">தமிழ்</span>
          <span class="language-subtitle">Tamil</span>
        </div>
        <div class="language-option">
          <span class="language-title">ไทย</span>
          <span class="language-subtitle">Thai</span>
        </div>
        <div class="language-option">
          <span class="language-title">Türkçe</span>
          <span class="language-subtitle">Turkish</span>
        </div>
        <div class="language-option">
          <span class="language-title">Українська</span>
          <span class="language-subtitle">Ukrainian</span>
        </div>
        <div class="language-option">
          <span class="language-title">اردو</span>
          <span class="language-subtitle">Urdu</span>
        </div>
        <div class="language-option">
          <span class="language-title">Tiếng Việt</span>
          <span class="language-subtitle">Vietnamese</span>
        </div>
        <div class="language-option">
          <span class="language-title">简体中文</span>
          <span class="language-subtitle">Simplified Chinese</span>
        </div>
        <div class="language-option">
          <span class="language-title">繁體中文</span>
          <span class="language-subtitle">Traditional Chinese</span>
        </div>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>