<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card_album</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet" href="../../button/index.css" />
  </head>
  <body style="color: white">
    <footer class="anteprima">
      <div id="anteprima_testo">
        <span class="font_bold">Anteprima di Spotify</span>
        <p>
          Iscriviti per ottenere canzoni e podcast illimitati con annunci
          pubblicitari occasionali. Non serve la carta di credito.
        </p>
      </div>
      <button class="button_subscribe_free">Iscriviti gratis</button>
    </footer>
  </body>
</html>
