.anteprima {
  background-image: linear-gradient(90deg, #af2896, #509bf5);
  display: flex;
  padding: 11px 24px 7px 15px;
  align-items: center;
  cursor: pointer;
}

div#anteprima_testo {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: #f0f0f0;
}
span.font_bold {
  font-weight: 700;
  font-size: small;
}

.button_subscribe_free {
  color: #000;
  background-color: white;
  width: fit-content;
  height: 48px;

  border: 0px solid white;
  border-radius: 9999px;
  font-weight: 700;
  font-size: 16px;
  padding: 8px 32px;
}
.button_subscribe_free:hover {
  transform: scale(1.04);
  transition: 33ms;
  background-color: #f0f0f0;
  cursor: pointer;
}
