.left-sidebar-container {
  display: flex;
  flex-direction: column;
  background: #121212;
  border-radius: 8px;
  min-width: 280px;
  max-width: 420px;
}

.header_sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding: 12px 16px 8px;
}

.sidebar_card {
  overflow-y:scroll;
  position: relative;
  height: 40vh;
  flex-grow: 1;
}

.sidebar-trick {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  gap: 8px;
  display: flex;
  flex-direction: column;
  padding: 0px 0px 8px 8px;
}

.create-playlist {
  flex-shrink: 0;
}

.footer_links {
  display: flex;
  flex-wrap: wrap;
  margin: 32px 0;
  padding: 0 24px;
  line-height: 28px;
}

.footer_links a {
  font-weight: 400;
  font-size: 11px;
  text-decoration: none;
  color: #b3b3b3;
  margin-right: 16px;
}

.politica_cookie {
  width: 100%;
  text-align: left;
}

.politica_cookie a {
  color: #ffffff;
  font-size: 11px;
}

.politica_cookie :hover {
  text-decoration: 0.8px solid underline;
  text-underline-offset: 1.5px;
}

.button-footer {
  margin-bottom: 32px;
  padding: 0 24px;
}


.sidebar_card::-webkit-scrollbar {
  width: 8px;
}

.sidebar_card::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar_card::-webkit-scrollbar-thumb {
  background: transparent;
}

.sidebar_card:hover::-webkit-scrollbar-thumb {
  background: #5a5a5a;
  border-radius: 10px;
}

.sidebar_card::-webkit-scrollbar-thumb:hover {
  background: #898989;
}

.sidebar_card::-webkit-scrollbar-thumb:active {
  background: #b8b8b8;
}
