<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./index.css" />
    <style>
      body {
        height: 100vh;
        display: flex;
        margin: 20px;
        background-color: #187049;
      }
    </style>
  </head>
  <body>
    <header id="header__album-page">
      <div id="header__album-page__album-logo__container">
        <img
          src="../../assets/img/viral 50 global.jpg"
          alt="logo album viral 50 global"
          id="header__album-page__album-logo"
        />
      </div>

      <div id="header__album-page__info">
        <p class="header__album-page__text-small-size">Playlist</p>

        <h1>Viral 50 Globale</h1>

        <p
          class="header__album-page__text-small-size header__album-page__color__text__gray"
        >
          Globale: il tuo aggiornamento quotidiano sui brani più ascoltati in
          questo momento.
        </p>

        <div id="header__album-page__info-container">
          <img
            src="../../assets/img/logo_spotify.jpeg"
            alt="logo Spotify"
            id="header__album-page__info-container__logo-spotify"
          />
          <a href="" class="header__album-page__text-small-size">Spotify</a>
          <span>•</span>
          <p
            class="header__album-page__text-small-size header__album-page__color__text__gray-second"
          >
            1.772.487 salvataggi
          </p>
          <span>•</span>
          <p
            class="header__album-page__text-small-size header__album-page__color__text__gray"
          >
            circa 2 ore 45 min
          </p>
          <span>•</span>
          <p
            class="header__album-page__text-small-size header__album-page__color__text__gray-second"
          >
            6 new entry
          </p>
          <span id="header__album-page__info-container__new-add"></span>
        </div>
      </div>
    </header>
  </body>
</html>
