:root {
  --main-bg-color: #1f1f1f;
  --svg-text-color: rgb(179, 179, 179);
  --searchbar-border-radius: 500px;
  --searchbar--bg-color-hover: #2a2a2a;
}

@keyframes showTooltip {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}

.searchbar {
  padding: 0px 8px;
  height: 48px;
  width: 100%;
}

/* SEZIONE FORM */
.searchbar__form {
  display: flex;
  background-color: var(--main-bg-color);
  height: 100%;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--searchbar-border-radius);
  border: 1px solid transparent;
  transition: all 0.3s;
  position: relative;
}

.searchbar__form:hover {
  border-color: gray;
  background-color: var(--searchbar--bg-color-hover);
}

.searchbar__form:focus-within {
  /* border: 2px solid white; */
  border: 1px solid transparent;
  outline: 2px solid white;
  background-color: var(--searchbar--bg-color-hover);
  transition: all 0.1s;
}

/* SEZIONE MAGNIFYING-GLASS */
.searchbar__magnifying-glass {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.searchbar__magnifying-glass__label {
  width: 48px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.searchbar__form:focus-within .searchbar__magnifying-glass__label {
  cursor: unset;
}

.searchbar__magnifying-glass__label:hover::after {
  content: "Cerca";
  font-size: 14px;
  position: absolute;
  background-color: var(--searchbar--bg-color-hover);
  color: white;
  padding: 8px;
  border-radius: 5px;
  pointer-events: none;
  margin-top: 100px;
  opacity: 0;
  animation: showTooltip 0.2s ease-in-out forwards;
  animation-delay: 0.5s;
}

.searchbar__magnifying-glass__icon {
  fill: var(--svg-text-color);
  padding: 0px 12px;
}

.searchbar__form:hover .searchbar__magnifying-glass__icon,
.searchbar__form:focus-within .searchbar__magnifying-glass__icon {
  fill: white;
}

/* SEZIONE SEARCH */
.searchbar__search {
  height: 100%;
  width: 100%;
}

#searchbar {
  background-color: transparent;
  width: 100%;
  height: 100%;
  caret-color: white;
  border: none;
}

#searchbar::placeholder {
  color: var(--svg-text-color);
}

#searchbar:hover {
  cursor: pointer;
}

#searchbar:focus {
  outline: none;
  cursor: unset;
}

#searchbar::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

#searchbar:not(:placeholder-shown) {
  color: white;
}

.searchbar__search__icon-container {
  width: 50px;
  height: 40px;
  right: 20px;
  margin-top: 3px;
  display: none;
}

#searchbar:not(:placeholder-shown) + .searchbar__search__icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: right;
  position: absolute;
  background-color: var(--main-bg-color);
  z-index: 1;
  transition: all 0.3s;
}

#searchbar:hover + .searchbar__search__icon-container,
#searchbar:focus + .searchbar__search__icon-container,
.searchbar__form:hover #searchbar__search__icon-container {
  background-color: #2a2a2a;
}

.searchbar__search__icon-container:hover::after {
  content: "Svuota campo di ricerca";
  width: 152px;
  right: -70px;
  font-size: 14px;
  position: absolute;
  background-color: var(--searchbar--bg-color-hover);
  color: white;
  padding: 8px;
  border-radius: 5px;
  pointer-events: none;
  margin-top: 100px;
  opacity: 0;
  animation: showTooltip 0.2s ease-in-out forwards;
  animation-delay: 0.5s;
}

#searchbar__clear-button {
  background-color: transparent;
}

.searchbar__search__X-icon {
  width: 24px;
  height: 24px;
  fill: var(--svg-text-color);
}

.searchbar__search__X-icon:hover {
  fill: white;
  transform: scale(1.05);
  cursor: pointer;
}

/* SEZIONE BROWSE-ALBUM */
.searchbar__browse-album {
  width: 40;
  height: 25.05px;
  padding: 0px 4px 0px 12px;
  border-left: 1px solid #a4a4a4;
  margin-right: 15px;
}

.searchbar__browse-album:hover::after {
  content: "Naviga";
  font-size: 14px;
  position: absolute;
  background-color: var(--searchbar--bg-color-hover);
  color: white;
  padding: 8px;
  border-radius: 5px;
  pointer-events: none;
  right: 10px;
  margin-top: 35px;
  opacity: 0;
  animation: showTooltip 0.2s ease-in-out forwards;
  animation-delay: 0.5s;
}

.searchbar__browse-album__checkbox {
  display: none;
}

.searchbar__browse-album__checkbox__container {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="rgb(179, 179, 179)" d="M15 15.5c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2z"></path><path fill="rgb(179, 179, 179)" d="M1.513 9.37A1 1 0 0 1 2.291 9h19.418a1 1 0 0 1 .979 1.208l-2.339 11a1 1 0 0 1-.978.792H4.63a1 1 0 0 1-.978-.792l-2.339-11a1 1 0 0 1 .201-.837zM3.525 11l1.913 9h13.123l1.913-9H3.525zM4 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v4h-2V3H6v3H4V2z"></path></svg>');
  color: var(--svg-text-color);
}

.searchbar__browse-album__checkbox__container:hover {
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="white" d="M15 15.5c0 1.105-1.343 2-3 2s-3-.895-3-2 1.343-2 3-2 3 .895 3 2z"></path><path fill="white" d="M1.513 9.37A1 1 0 0 1 2.291 9h19.418a1 1 0 0 1 .979 1.208l-2.339 11a1 1 0 0 1-.978.792H4.63a1 1 0 0 1-.978-.792l-2.339-11a1 1 0 0 1 .201-.837zM3.525 11l1.913 9h13.123l1.913-9H3.525zM4 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v4h-2V3H6v3H4V2z"></path></svg>');
  transform: scale(1.05);
  transition: all 0.1s;
}

.searchbar__browse-album__checkbox:checked
  + .searchbar__browse-album__checkbox__container {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M4 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v4H4V2zM1.513 9.37A1 1 0 0 1 2.291 9H21.71a1 1 0 0 1 .978 1.208l-2.17 10.208A2 2 0 0 1 18.562 22H5.438a2 2 0 0 1-1.956-1.584l-2.17-10.208a1 1 0 0 1 .201-.837zM12 17.834c1.933 0 3.5-1.044 3.5-2.333 0-1.289-1.567-2.333-3.5-2.333S8.5 14.21 8.5 15.5c0 1.289 1.567 2.333 3.5 2.333z"></path></svg>');
  filter: invert(1);
}

.searchbar__form:focus-within .searchbar__browse-album__checkbox__container {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M4 2a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v4H4V2zM1.513 9.37A1 1 0 0 1 2.291 9H21.71a1 1 0 0 1 .978 1.208l-2.17 10.208A2 2 0 0 1 18.562 22H5.438a2 2 0 0 1-1.956-1.584l-2.17-10.208a1 1 0 0 1 .201-.837zM12 17.834c1.933 0 3.5-1.044 3.5-2.333 0-1.289-1.567-2.333-3.5-2.333S8.5 14.21 8.5 15.5c0 1.289 1.567 2.333 3.5 2.333z"></path></svg>');
  filter: invert(1);
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .searchbar {
    height: 38px;
    padding: 0px;
    margin: 0px;
  }

  .searchbar__form {
    width: 100%;
  }

  #searchbar {
    caret-color: #757575;
  }

  .searchbar__form:hover {
    border-color: transparent;
    background-color: white;
  }

  .searchbar__form:focus-within {
    /* border: 2px solid white; */
    border: 1px solid transparent;
    outline: none;
    background-color: white;
  }

  .searchbar__magnifying-glass__icon {
    padding: 0px;
    width: 18px;
    height: 18px;
    fill: #000000;
  }

  .searchbar__magnifying-glass__label:hover::after {
    display: none;
  }

  .searchbar__form:hover .searchbar__magnifying-glass__icon,
  .searchbar__form:focus-within .searchbar__magnifying-glass__icon {
    fill: #000000;
  }

  .searchbar__form {
    border-radius: 4px;
    background-color: white;
  }

  #searchbar::placeholder,
  #searchbar:not(:placeholder-shown) {
    color: #757575;
  }

  #searchbar__search__icon-container {
    background-color: white !important;
    margin-top: 0px;
    width: 30px;
    height: 35px;
    right: 10px;
  }

  .searchbar__search__icon-container:hover::after {
    display: none;
  }

  .searchbar__search__X-icon {
    width: 15.5px;
    height: 15.5px;
    fill: #000000;
  }

  .searchbar__search__X-icon:hover {
    fill: #000000;
    transform: none;
  }

  .searchbar__browse-album {
    display: none;
  }
}
