.button_show_all {
  color: #b3b3b3;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  font-weight: 700;
  font-size: 14px;
  background-color: #1f1f1f;
  border: none;
}
.button_show_all:hover {
  text-decoration: underline;
  cursor: pointer;
}
.button_log_in {
  color: #121212;
  background-color: white;
  width: fit-content;
  height: 48px;
  border: 0px solid transparent;
  border-radius: 9999px;
  font-weight: 700;
  padding: 8px 32px;
  font-size: 16px;
}
.button_log_in:hover {
  transform: scale(1.04);
  transition: 33ms;
  background-color: #f0f0f0;
  cursor: pointer;
}
.button_subscribe_free {
  color: #000;
  background-color: white;
  width: fit-content;
  height: 48px;

  border: 0px solid white;
  border-radius: 9999px;
  font-weight: 700;
  font-size: 16px;
  padding: 8px 32px;
}
.button_subscribe_free:hover {
  transform: scale(1.04);
  transition: 33ms;
  background-color: #f0f0f0;
}
.button_subscribe {
  background-color: transparent;
  color: #b3b3b3;
  font-weight: 700;
  font-size: 16px;
  height: 48px;
  width: fit-content;
  padding: 8px 32px 8px 8px;
}
.button_subscribe:hover {
  transform: scale(1.04);
  transition: 33ms;
  color: white;
  cursor: pointer;
}
.button_new_playlist {
  width: fit-content;
  height: 32px;
  padding: 4px 16px;
  background-color: white;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  border: 0px solid transparent;
  border-radius: 9999px;
}
.button_new_playlist:hover {
  background-color: #f0f0f0;
  transform: scale(1.04);
  transition: 33ms;
  cursor: pointer;
}
.button_browse_podcast {
  width: fit-content;
  height: 32px;
  padding: 4px 16px;
  background-color: white;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  border: 0px solid transparent;
  border-radius: 9999px;
}
.button_browse_podcast:hover {
  background-color: #f0f0f0;
  transform: scale(1.04);
  transition: 33ms;
  cursor: pointer;
}
.button_play_green {
  width: 48px;
  height: 48px;
  background-color: #1db954;
  border: 0px solid transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_play_green > svg {
  height: 24px;
  width: 24px;
}
.button_play_green:hover {
  background-color: #1ed760;
  transform: scale(1.04);
  transition: 33ms;
}
.button_home {
  width: 48px;
  height: 48px;
  border: 0px solid transparent;
  border-radius: 50%;
  background-color: #1f1f1f;
  padding: 12px;
  cursor: pointer;
}
.button_home > svg {
  height: 24px;
  width: 24px;
  fill: #b3b3b3;
}
.button_home:hover {
  transform: scale(1.04);
  transition: 33ms;
}

.button_language {
  width: fit-content;
  height: 32px;
  border: 1px solid #818181;
  border-radius: 9999px;
  padding: 3px 15px 3px 15px;
  font-weight: 700;
  font-size: 13px;
  background-color: #121212;
  color: white;
  fill: #f0f0f0;
  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  -webkit-box-align: center;
  vertical-align: middle;
  cursor: pointer;
}
.button_language:hover {
  transform: scale(1.04);
  transition: 33ms;
  border-color: #fff;
}
.button_language > span > svg {
  height: 16px;
  width: 16px;
}
.button_your_library {
  width: fit-content;
  height: 40px;
  padding: 4px 8px;
  color: #b3b3b3;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  min-block-size: 40px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  block-size: 40px;
  gap: 14px;
}
.button_your_library:hover {
  color: #fff;
}

.button_your_library > span > svg {
  height: 24px;
  width: 24px;
}
.button_your_library path {
  height: 20px;
  width: 20px;
}

.button_plus {
  width: 48px;
  height: 48px;
  fill: #b3b3b3;
  border: 0px solid transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.button_plus svg {
  height: 16px;
  width: 16px;
}

.button_plus:hover {
  background-color: #1f1f1f;
  fill: #fff;
}
