<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="../common.css" />
  </head>
  <body style="display: flex; flex-direction: column; gap: 20px">
    <!--bottone mostra tutto da aggiungere al main,sezione artisti,album,radio  -->
    <button class="button_show_all">Mostra tutto</button>
    <!-- bottone accedi da aggiungere all'header in alto a destra-->
    <button class="button_log_in">Accedi</button>
    <!-- bottone iscriviti gratis della navbar colorata dell'anteprima -->
    <button class="button_subscribe_free">Iscriviti gratis</button>
    <!--bottone iscriviti da aggiungere all'header sinistra di accedi  -->
    <button class="button_subscribe">Iscriviti</button>
    <!--bottone nuova playlist da aggiungere alla sidebar "sidebar-card"  -->
    <button class="button_new_playlist">Crea Playlist</button>
    <!--button sfoglia i podcast da aggiungere alla sidebar "sidebar-podcast"  -->
    <button class="button_browse_podcast">Sfoglia i Podcast</button>
    <!--button verde di play da aggiungere a "main- card Artista, Radio, Album"  -->
    <button class="button_play_green">
      <svg>
        <path
          d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"></path>
      </svg>
    </button>
    <button class="button_home">
      <svg>
        <path
          d="M12.5 3.247a1 1 0 0 0-1 0L4 7.577V20h4.5v-6a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v6H20V7.577l-7.5-4.33zm-2-1.732a3 3 0 0 1 3 0l7.5 4.33a2 2 0 0 1 1 1.732V21a1 1 0 0 1-1 1h-6.5a1 1 0 0 1-1-1v-6h-3v6a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.577a2 2 0 0 1 1-1.732l7.5-4.33z"></path>
      </svg>
    </button>
  </body>
</html>
