.button_log_in {
  color: #121212;
  background-color: white;
  width: fit-content;
  height: 48px;
  border: 0px solid transparent;
  border-radius: 9999px;
  font-weight: 700;
  padding: 8px 32px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_log_in:hover {
  transform: scale(1.04);
  transition: 33ms;
  background-color: #f0f0f0;
  cursor: pointer;
}
.button_subscribe_free {
  color: #000;
  background-color: white;
  width: fit-content;
  height: 48px;
  border: 0px solid white;
  border-radius: 9999px;
  font-weight: 700;
  font-size: 16px;
  padding: 8px 32px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_subscribe_free:hover {
  transform: scale(1.04);
  transition: 33ms;
  background-color: #f0f0f0;
}
.button_subscribe {
  background-color: transparent;
  color: #b3b3b3;
  font-weight: 700;
  font-size: 16px;
  height: 48px;
  width: fit-content;
  padding: 8px 32px 8px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_subscribe:hover {
  transform: scale(1.04);
  transition: 33ms;
  color: white;
  cursor: pointer;
}
.button_new_playlist {
  width: fit-content;
  height: 32px;
  padding: 4px 16px;
  background-color: white;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  border: 0px solid transparent;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_new_playlist:hover {
  background-color: #f0f0f0;
  transform: scale(1.04);
  transition: 0s;
  cursor: pointer;
}
.button_browse_podcast {
  width: fit-content;
  height: 32px;
  padding: 4px 16px;
  background-color: white;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  border: 0px solid transparent;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.button_browse_podcast:hover {
  background-color: #f0f0f0;
  transform: scale(1.04);
  transition: 0s;
  cursor: pointer;
}
.button_play_green {
  width: 48px;
  height: 48px;
  background-color: #1db954;
  border: 0px solid transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.button_play_green > svg {
  height: 24px;
  width: 24px;
  position: absolute;
}
.button_play_green:hover {
  background-color: #1ed760;
  transform: scale(1.04);
  transition: 0.3s;
  cursor: pointer;
}

.button_play_green::after {
  content: "Riproduci ";
  font-size: 14px;
  font-weight: 400;
  position: relative;
  background-color: #2a2a2a;
  color: white;
  padding: 8px;
  border-radius: 5px;
  top: -50px;
  opacity: 0;
  text-align: center;
  vertical-align: baseline;
  pointer-events: none;
}
.button_play_green:hover::after {
  opacity: 1;
  transition: all 0.1s 0.7s;
}

.button_home {
  width: 48px;
  height: 48px;
  border: 0px solid transparent;
  border-radius: 50%;
  background-color: #1f1f1f;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_home_checkbox {
  display: none;
  position: relative;
  top: 0;
  left: 0;
}
.button_home_checkbox_container {
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgb(179, 179, 179)'%3E%3Cpath d='M12.5 3.247a1 1 0 0 0-1 0L4 7.577V20h4.5v-6a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v6H20V7.577l-7.5-4.33zm-2-1.732a3 3 0 0 1 3 0l7.5 4.33a2 2 0 0 1 1 1.732V21a1 1 0 0 1-1 1h-6.5a1 1 0 0 1-1-1v-6h-3v6a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.577a2 2 0 0 1 1-1.732l7.5-4.33z'%3E%3C/path%3E%3C/svg%3E");
  position: absolute;
}
.button_home_checkbox:checked + .button_home_checkbox_container {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M13.5 1.515a3 3 0 0 0-3 0L3 5.845a2 2 0 0 0-1 1.732V21a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6h4v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V7.577a2 2 0 0 0-1-1.732l-7.5-4.33z'%3E%3C/path%3E%3C/svg%3E");
}

.button_home_checkbox_container:focus {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M13.5 1.515a3 3 0 0 0-3 0L3 5.845a2 2 0 0 0-1 1.732V21a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-6h4v6a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V7.577a2 2 0 0 0-1-1.732l-7.5-4.33z'%3E%3C/path%3E%3C/svg%3E");
}
.button_home:hover {
  transform: scale(1.04);
  transition: 0.3s;
}
.button_home::after {
  content: "Home";
  font-size: 14px;
  font-weight: 400;
  background-color: #2a2a2a;
  color: white;
  padding: 8px;
  border-radius: 5px;
  position: relative;
  opacity: 0;
  bottom: -42px;
  left: 0px;
  text-align: center;
  vertical-align: baseline;
  pointer-events: none;
}
.button_home:hover::after {
  opacity: 1;
  transition: all 0.2s 0.5s ease-in-out;
}

.button_language {
  width: fit-content;
  height: 32px;
  border: 1px solid #818181;
  border-radius: 9999px;
  padding: 3px 15px 3px 15px;
  font-weight: 700;
  font-size: 13px;
  background-color: #121212;
  color: white;
  fill: #f0f0f0;
  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button_language:hover {
  transform: scale(1.04);
  transition: 0s;
  border-color: #fff;
}
.button_language > span > svg {
  height: 16px;
  width: 16px;
}
.button_your_library {
  width: fit-content;
  height: 40px;
  padding: 4px 8px;
  color: #b3b3b3;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  min-block-size: 40px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  block-size: 40px;
  gap: 14px;
  transition: 0.5s;
}
.button_your_library:hover {
  color: #fff;
  transition: 0.5s;
}

.button_your_library svg {
  fill: currentColor;
  height: 24px;
  width: 24px;
}
.button_your_library path {
  height: 20px;
  width: 20px;
}

.button_your_library::after {
  content: "Comprimi la tua libreria";
  font-size: 14px;
  font-weight: 400;
  position: relative;
  background-color: #2a2a2a;
  color: white;
  padding: 8px;
  border-radius: 5px;
  opacity: 0;
  top: -50px;
  left: -165px;
  white-space: nowrap;
  text-align: center;
  pointer-events: none;
}
.button_your_library:hover::after {
  opacity: 1;
  transition: all 0.2s 0.4s ease-in-out;
}

.button_plus {
  width: 32px;
  height: 32px;
  fill: #b3b3b3;
  border: 0px solid transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
}
.button_plus svg {
  height: 16px;
  width: 16px;
  position: absolute;
}

.button_plus:hover {
  background-color: #1f1f1f;
  fill: #fff;
}
.button_plus::after {
  content: "Crea una playlist o una cartella";
  font-size: 14px;
  position: relative;
  background-color: #2a2a2a;
  color: white;
  padding: 8px;
  border-radius: 5px;
  top: -50px;
  left: 0px;
  opacity: 0;
  white-space: nowrap;
  text-align: center;
  vertical-align: baseline;
  pointer-events: none;
}

.button_plus:hover::after {
  opacity: 1;
  transition: all 0.2s 0.4s;
}

.button_instagram {
  height: 40px;
  width: 40px;
  border: 0 solid transparent;
  border-radius: 50%;
  background-color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_instagram svg {
  fill: #fff;
  height: 16px;
  width: 16px;
  position: absolute;
}
.button_instagram:hover {
  background-color: rgb(114, 114, 114);
}
.button_instagram::after {
  content: "Instagram";
  font-size: 12px;
  position: relative;
  background-color: #fff;
  color: #000;
  padding: 4px;
  border: 1px solid black;
  top: 25px;
  left: 35px;
  opacity: 0;
  text-align: center;
  vertical-align: baseline;
  pointer-events: none;
}
.button_instagram:hover::after {
  opacity: 1;
  transition: all 0.2s 0.5s;
  transform: translatey(3px);
}
.button_twitter {
  height: 40px;
  width: 40px;
  border: 0 solid transparent;
  border-radius: 50%;
  background-color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_twitter svg {
  fill: #fff;
  height: 16px;
  width: 16px;
  position: absolute;
}
.button_twitter:hover {
  background-color: rgb(114, 114, 114);
}

.button_twitter::after {
  content: "Twitter";
  font-size: 12px;
  position: relative;
  background-color: #fff;
  color: #000;
  padding: 4px;
  border: 1px solid black;
  opacity: 0;
  top: 20px;
  left: 30px;
  text-align: center;
  vertical-align: baseline;
  pointer-events: none;
}
.button_twitter:hover::after {
  opacity: 1;
  transition: all 0.2s 0.5s;
  transform: translatey(3px);
}

.button_facebook {
  height: 40px;
  width: 40px;
  border: 0 solid transparent;
  border-radius: 50%;
  background-color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button_facebook svg {
  fill: #fff;
  height: 16px;
  width: 16px;
  position: absolute;
}

.button_facebook:hover {
  background-color: rgb(114, 114, 114);
}
.button_facebook::after {
  content: "Facebook";
  font-size: 12px;
  position: relative;
  background-color: #fff;
  color: #000;
  padding: 4px;
  border: 1px solid black;
  opacity: 0;
  bottom: -27px;
  left: 35px;
  text-align: center;
  vertical-align: baseline;
  pointer-events: none;
}
.button_facebook:hover::after {
  opacity: 1;
  transition: all 0.2s 0.5s;
  transform: translatey(3px);
}
