<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="../common.css" />
  </head>
  <body style="background-color: brown">
    <section id="newPlaylist_tooltip" class="flex">
      <div id="text_container" class="flex">
        <p class="bold_text big_text">Crea una playlist</p>
        <p class="light_text medium_text">
          Accedi per creare e condividere playlist.
        </p>
      </div>

      <div id="buttons_container" class="flex">
        <button
          type="button"
          class="bold_text medium_text scale"
          id="trasparent"
        >
          Non adesso
        </button>
        <button
          type="button"
          class="bold_text medium_text scale"
          id="log_in_button"
        >
          Accedi
        </button>
      </div>
    </section>
  </body>
</html>
