nav {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.nav__logo__container {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.nav__logo__spotify {
  fill: white;
  cursor: pointer;
}

.nav__button-Home__searchbar {
  display: inline-flex;
  flex: 1;
  margin-left: 8px;
  align-items: center;
  justify-content: center;
}

.nav__button-Home__searchbar__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  left: 4.5%;
  margin-right: 16px;
}

.searchbar {
  min-width: 376.5px;
  max-width: 490px;
  box-sizing: border-box;
  width: 100%;
}

.nav__buttons__container {
  display: flex;
}
