.navbar {
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  z-index: 2;
}

.nav__logo__container {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.label__logo__spotify {
  width: 32px;
  height: 32px;
}

.nav__logo__spotify {
  fill: white;
  cursor: pointer;
}

.nav__button-Home__searchbar {
  display: inline-flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-left: -10px;
}

.nav__button-Home__searchbar__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  position: relative;
  transform: translateX(7.8%);
  margin-right: 15px;
}

.searchbar {
  min-width: 376.5px;
  max-width: 490px;
  box-sizing: border-box;
  width: 100%;
}

.nav__buttons__container {
  display: flex;
}

.button_open_app,
.nav__hamburgher-menu__container,
.nav__search-glass__container {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  .navbar {
    position: fixed;
    top: 0;
    z-index: 10;
    height: 56px;
    background-color: black;
  }

  .searchbar,
  .button_subscribe,
  .button_log_in,
  .button_home {
    display: none;
  }

  .nav__logo__container {
    width: 65px;
  }

  .nav__buttons__container {
    align-items: center;
  }

  .nav__search-glass__container {
    display: inline-flex;
    width: 48px;
    height: 32px;
    padding: 0px 16px;
  }

  .nav__search-glass__button {
    background-color: transparent;
  }

  .nav__search-glass__button > svg {
    fill: white;
    width: 16px;
    height: 16px;
  }

  .button_open_app {
    display: flex;
    width: 90.2px;
    height: 32px;
    font-size: 13px;
    padding: 4px 16px;
  }

  .nav__hamburgher-menu__container {
    display: inline-flex;
    width: 40px;
    height: 32px;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
  }

  .nav__hamburgher-menu {
    fill: white;
    width: 24px;
    height: 24px;
  }
}
