body {
  box-sizing: border-box;
  background-color: #000;
  width: 100%;
  display: grid;
  height: 100vh;
  grid-template-areas:
    "nav nav nav" "sidebar main-view main-view"
    "anteprima anteprima anteprima";
  gap: 8px;
  padding: 8px;
}

.navbar {
  grid-area: nav;
}

.left-sidebar-container {
  grid-area: sidebar;
}

.main-container {
  grid-area: main-view;
}

.anteprima {
  grid-area: anteprima;
}
