body {
  box-sizing: border-box;
  background-color: #000;
  width: 100%;
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "nav nav nav" "sidebar main-view main-view"
    "anteprima anteprima anteprima";
  gap: 8px;
  padding: 8px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
}

.navbar {
  grid-area: nav;
}

.premium-banner {
  display: none;
  grid-area: banner;
}

.left-sidebar-container {
  grid-area: sidebar;
}

.main-container {
  grid-area: main-view;
}

.anteprima {
  grid-area: anteprima;
}

@media screen and (min-width: 320px) and (max-width: 576px) {
  body {
    padding: inherit;
    gap: inherit;
    grid-template-areas: "nav nav" "banner banner" "main-view main-view";
    height: 100%;
  }

  .main-container {
    overflow-y: scroll;
  }

  .left-sidebar-container,
  .anteprima {
    display: none;
  }

  .premium-banner {
    display: block;
  }
}
