<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="../button/index.css" />
    <link rel="stylesheet" href="/components/common.css" />
  </head>
  <body>
    <div class="hamburger_wrapper">
      <div class="button_close_menu"></div>

      <div class="hamburger_list">
        <button class="button_upper_section">Accedi</button>
        <button class="button_upper_section">Iscriviti</button>

        <div class="dividing_line"></div>

        <div class="hamburger_lower_section">
            <button class="button_lower_section">Premium</button>
            <button class="button_lower_section">Assistenza</button>
            <button class="button_lower_section">Scarica</button>
            <button class="button_lower_section">Privacy</button>
            <button class="button_lower_section">Condizioni</button>


        </div>
      </div>
    </div>
  </body>
</html>
