.footer_copyright_wrapper {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  font-size: 14px;
  font-weight: 400;
  color: #b3b3b3;
  padding-right: 16px;
}

.footer_copyright > p {
  width: fit-content;
  cursor: text;
}
