<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="/components/common.css" />
    <link rel="stylesheet" href="/components/button/index.css" />
    <style> body{background-color: #121212;} </style>
</head>
<body>
    <div class="footer_copyright_wrapper">
<div class="footer_copyright"><p>&copy;2024 Spotify AB</p></div>
    </div>
    
</body>
</html>