<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./index.css" />
    <!--DA CANCELLARE DOPO INSERIMENTO NEL MASTER-->
    <link rel="stylesheet" href="../section_songs_viral50/index.css" />
    <style>
      .search-song {
        height: 100vh;
        width: 100%;
        background-color: #121212;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <section class="search-song">
      <div class="search-song__button_top-container">
        <button class="search-song__button_top">Tutto</button>
        <button class="search-song__button_top" id="brani">Brani</button>
        <button class="search-song__button_top">Artisti</button>
        <button class="search-song__button_top">Album</button>
        <button class="search-song__button_top">Podcast e show</button>
        <button class="search-song__button_top">Generi e mood</button>
        <button class="search-song__button_top">Profili</button>
      </div>

      <div id="first_row">
        <div class="flex">
          <p>#</p>
        </div>
        <div class="flex">
          <p>Titolo</p>
        </div>
        <div class="flex invisible">
          <p>Album</p>
        </div>
        <div class="flex tag_30" id="clock">
          <svg viewBox="0 0 16 16" class="basic_features">
            <path
              d="M8 1.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"
            ></path>
            <path
              d="M8 3.25a.75.75 0 0 1 .75.75v3.25H11a.75.75 0 0 1 0 1.5H7.25V4A.75.75 0 0 1 8 3.25z"
            ></path>
          </svg>
        </div>
      </div>

      <div class="container_viral50">
        <!--DIV SONG-->
        <div class="container">
          <div class="flex center invisible_phone">
            <!--Numero-->
            <p class="song_position">1</p>
            <span>
              <svg viewBox="0 0 24 24" class="play_icon basic_features">
                <path
                  d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                ></path>
              </svg>
            </span>
          </div>
          <div class="flex">
            <!--Title-->
            <img
              src="../section_songs_viral50/Images_viral50/Icona APT.jpeg"
              alt="Icona_album_APT."
              class="album_cover"
            />
            <div class="height shorten">
              <p class="bold_white shorten">APT.</p>
              <span class="font_small hover_white_underlined tag_43 song_1"
                >ROSÉ,</span
              >
              <span class="font_small hover_white_underlined tag_43 song_1"
                >Bruno Mars</span
              >
            </div>
          </div>
          <div class="flex invisible">
            <!--Album-->
            <p
              class="font_small hover_white_underlined shorten tag_43"
              id="apt"
            >
              APT.
            </p>
          </div>
          <div class="flex duration">
            <!--Duration-->
            <button class="opacity tag_43 add">
              <svg viewBox="0 0 16 16" class="basic_features">
                <path
                  d="M8 1.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"
                ></path>
                <path
                  d="M11.75 8a.75.75 0 0 1-.75.75H8.75V11a.75.75 0 0 1-1.5 0V8.75H5a.75.75 0 0 1 0-1.5h2.25V5a.75.75 0 0 1 1.5 0v2.25H11a.75.75 0 0 1 .75.75z"
                ></path>
              </svg>
            </button>
            <p class="font_small">2:49</p>
            <button class="opacity tag_30 left" id="more_1">
              <svg viewBox="0 0 16 16" class="basic_features">
                <path
                  d="M3 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm6.5 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zM16 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"
                ></path>
              </svg>
              <svg viewBox="0 0 24 24" class="basic_features phone_dots">
                <path
                  d="M4.5 13.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm15 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zm-7.5 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"
                ></path>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="container_viral50">
        <!--DIV SONG-->
        <div class="container">
          <div class="flex center invisible_phone">
            <!--Numero-->
            <p class="song_position">2</p>
            <span>
              <svg viewBox="0 0 24 24" class="play_icon basic_features">
                <path
                  d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                ></path>
              </svg>
            </span>
          </div>
          <div class="flex">
            <!--Title-->
            <img
              src="../section_songs_viral50/Images_viral50/Icona BAD PARENTING FUNK.jpeg"
              alt="Icona_album_BAD PARENTING FUNK."
              class="album_cover"
            />
            <div class="height shorten">
              <p class="bold_white shorten">BAD PARENTING FUNK</p>
              <span class="font_small hover_white_underlined tag_43 song_2"
                >DJ CEREJASS,</span
              >
              <span class="font_small hover_white_underlined tag_43 song_2"
                >Sayfalse</span
              >
            </div>
          </div>
          <div class="flex invisible">
            <!--Album-->
            <p
              class="font_small hover_white_underlined shorten tag_43"
              id="bpf"
            >
              BAD PARENTING FUNK
            </p>
          </div>
          <div class="flex duration">
            <!--Duration-->
            <button class="opacity tag_43 add">
              <svg viewBox="0 0 16 16" class="basic_features">
                <path
                  d="M8 1.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"
                ></path>
                <path
                  d="M11.75 8a.75.75 0 0 1-.75.75H8.75V11a.75.75 0 0 1-1.5 0V8.75H5a.75.75 0 0 1 0-1.5h2.25V5a.75.75 0 0 1 1.5 0v2.25H11a.75.75 0 0 1 .75.75z"
                ></path>
              </svg>
            </button>
            <p class="font_small">1:27</p>
            <button class="opacity tag_30" id="more_2">
              <svg viewBox="0 0 16 16" class="basic_features">
                <path
                  d="M3 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm6.5 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zM16 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"
                ></path>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="container_viral50">
        <!--DIV SONG-->
        <div class="container">
          <div class="flex column center invisible_phone">
            <!--Numero-->
            <p class="song_position">3</p>
            <span>
              <svg viewBox="0 0 24 24" class="play_icon basic_features">
                <path
                  d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                ></path>
              </svg>
            </span>
          </div>
          <div class="flex">
            <!--Title-->
            <img
              src="../section_songs_viral50/Images_viral50/Icona VICTORY ANTHEM.jpeg"
              alt="Icona_album_VictoryAnthem."
              class="album_cover"
            />
            <div class="height shorten">
              <p class="bold_white shorten">Victory Anthem</p>
              <span class="font_small hover_white_underlined tag_43 song_3"
                >Khushi TDT,</span
              >
              <span class="font_small hover_white_underlined tag_43 song_3"
                >Lash curry,</span
              >
              <span class="font_small hover_white_underlined tag_43 song_3"
                >Audiocrackerr</span
              >
            </div>
          </div>
          <div class="flex invisible">
            <!--Album-->
            <p class="font_small hover_white_underlined shorten tag_43" id="VA">
              Victory Anthem
            </p>
          </div>
          <div class="flex duration">
            <!--Duration-->
            <button class="opacity tag_43 add">
              <svg viewBox="0 0 16 16" class="basic_features">
                <path
                  d="M8 1.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"
                ></path>
                <path
                  d="M11.75 8a.75.75 0 0 1-.75.75H8.75V11a.75.75 0 0 1-1.5 0V8.75H5a.75.75 0 0 1 0-1.5h2.25V5a.75.75 0 0 1 1.5 0v2.25H11a.75.75 0 0 1 .75.75z"
                ></path>
              </svg>
            </button>
            <p class="font_small">2:37</p>
            <button class="opacity tag_30" id="more_3">
              <svg viewBox="0 0 16 16" class="basic_features">
                <path
                  d="M3 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm6.5 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zM16 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"
                ></path>
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="container_viral50">
        <!--DIV SONG-->
        <div class="container">
          <div class="flex column center invisible_phone">
            <!--Numero-->
            <p class="song_position">4</p>
            <span>
              <svg viewBox="0 0 24 24" class="play_icon basic_features">
                <path
                  d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                ></path>
              </svg>
            </span>
          </div>
          <div class="flex">
            <!--Title-->
            <img
              src="../section_songs_viral50/Images_viral50/Icona RAANJHAN.jpeg"
              alt="Icona_album_Raanjhan."
              class="album_cover"
            />
            <div class="height shorten">
              <p class="bold_white shorten">Raanjhan (From "Do Patti")</p>
              <span class="font_small hover_white_underlined tag_43 song_4"
                >Sachet-Parampara,</span
              >
              <span class="font_small hover_white_underlined tag_43 song_4"
                >Parampara Tandon,</span
              >
              <span class="font_small hover_white_underlined tag_43 song_4"
                >Kausar Munir</span
              >
            </div>
          </div>
          <div class="flex invisible">
            <!--Album-->
            <p
              class="font_small hover_white_underlined shorten tag_43"
              id="Raanjhan"
            >
              Raanjhan (From "Do Patti")
            </p>
          </div>
          <div class="flex duration">
            <!--Duration-->
            <button class="opacity tag_43 add">
              <svg viewBox="0 0 16 16" class="basic_features">
                <path
                  d="M8 1.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"
                ></path>
                <path
                  d="M11.75 8a.75.75 0 0 1-.75.75H8.75V11a.75.75 0 0 1-1.5 0V8.75H5a.75.75 0 0 1 0-1.5h2.25V5a.75.75 0 0 1 1.5 0v2.25H11a.75.75 0 0 1 .75.75z"
                ></path>
              </svg>
            </button>
            <p class="font_small">4:00</p>
            <button class="opacity tag_30" id="more_4">
              <svg viewBox="0 0 16 16" class="basic_features">
                <path
                  d="M3 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm6.5 0a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zM16 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"
                ></path>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
