.social_links_wrapper {
  margin-bottom: 40px;
  display: inline-flex;
}
.social_links {
  padding-right: 16px;
  width: auto;
  height: fit-content;
}
.button.facebook {
  margin-right: 0px;
}

@media (min-width: 992px) {
  .social_links {
    justify-content: none;
    width: 20%;
  }
}
