.social_links_wrapper {
  margin-bottom: 40px;
  display: inline-flex;
}
.social_links {
  padding-right: 16px;
  width: auto;
  height: fit-content;
}
.social_links_wrapper div:last-child {
  padding-right: 0px;
}
