<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>card-artisti</title>
    <link rel="stylesheet" href="/fs33-spotify/components/common.css" />
    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet" href="/fs33-spotify/components/button/index.css" />
    <link
      rel="preload"
      href="https://encore.scdn.co/fonts/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <style>
      body {
        display: inline-flex;
        height: 100vh;
        width: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: #121212;
      }
    </style>
  </head>
  <body>
    <div class="card-artisti card-artisti--hover">
      <div class="card-artisti__img-play-container">
        <div class="card-artisti__img">
          <img
            src="Anna - Artista.jpeg"
            alt="Immagine di Anna"
            draggable="false"
          />
        </div>
        <div class="card-artisti__play-button">
          <button class="button_play_green">
            <svg>
              <path
                d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
              ></path>
            </svg>
          </button>
        </div>
      </div>
      <div class="card-artisti__description">
        <div class="card-artisti__description__name">
          <p title="ANNA">ANNA</p>
        </div>
        <div class="card-artisti__description__item"><p>Artista</p></div>
      </div>
    </div>
  </body>
</html>
