<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card-artisti</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="preload"
      href="https://encore.scdn.co/fonts/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
  </head>
</head>
<body>
    <div class="card-artisti card-artisti--hover">
      <div class="card-artisti__img-play-container">
        <div class="card-artisti__img"><img src="Anna - Artista.jpeg" alt="Immagine di Anna"/></div>
        <div class="card-artisti__play-button"><button class="play-button"><span><svg data-encore-id="icon" role="img" aria-hidden="true" viewBox="0 0 24 24" class="Svg-sc-ytk21e-0 bneLcE"><path d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"></path></svg></span></button></div>
      </div>
      <div class="card-artisti__description">
        <div class="card-artisti__description__nome"><p>ANNA</p></div>
        <div class="card-artisti__description__item"><p>Artista</p></div>       
      </div>
    </div>
</body>
</html>