.card-artisti {
  padding: 12px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-artisti__img-play-container {
  position: relative;
}

.card-artisti__img {
  position: relative;
  width: 100%;
  padding-top: 100%; /* Questo crea un contenitore quadrato */
  overflow: hidden;
  border-radius: 50%;
  z-index: 1;
}

.card-artisti__img img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card-artisti__play-button {
  right: 8px;
  opacity: 0;
  position: absolute;
  bottom: -8px;
  transform: translateY(8px);
  opacity: 0;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  z-index: 2;
}

.card-artisti__img__quadra,
.card-artisti__img__quadra img {
  border-radius: 6px;
}

.card-artisti__description {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-artisti__description__name {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
}

.card-artisti__description__name p {
  display: inline-block;
}

.card-artisti__description__item {
  color: #b3b3b3;
  font-size: 0.875rem;
}

.card-artisti__description__item_2 {
  width: fit-content;
  display: inline-flex;
  text-decoration: none;
}

.card-artisti__description__item_2 a:hover {
  text-decoration: underline;
}

.card-artisti__description__item_no-hover {
  display: -webkit-box; /* Necessario per abilitare line clamping */
  -webkit-box-orient: vertical; /* Specifica l'orientamento del contenitore */
  -webkit-line-clamp: 2; /* Numero massimo di righe visibili */
  overflow: hidden; /* Nasconde il contenuto in eccesso */
  height: 28px;
}

.card-artisti--hover:hover {
  background-color: #1f1f1f;
  cursor: pointer;
}

.card-artisti--hover:hover
  > .card-artisti__img-play-container
  > .card-artisti__play-button {
  transform: translateY(0);
  bottom: 0px;
  opacity: 1;
}

.card-artisti__description__name p:hover {
  text-decoration: underline;
  display: inline-block;
}

.button_play_green[data-index="ANNA"]::after {
  content: "Riproduci ANNA";
  white-space: nowrap;
}

.button_play_green[data-index="Vera Baddie"]::after {
  content: "Riproduci VERA BADDIE di ANNA";
  white-space: nowrap;
}

.button_play_green[data-index="Bruno Mars"]::after {
  content: "Riproduci Radio di Bruno Mars";
  white-space: nowrap;
}

.mobile__text__container {
  display: none;
}

@media (max-width: 576px) {
  .card-artisti__img,
  .card-artisti__img img {
    border-radius: 6px;
  }

  .card-artisti {
    padding: 8px;
  }
  .card-artisti__description__item,
  .card-artisti__description__item_2,
  .card-artisti__description__item_no-hover {
    display: none;
  }

  .mobile__text__container {
    display: -webkit-box; /* Necessario per abilitare line clamping */
    -webkit-box-orient: vertical; /* Specifica l'orientamento del contenitore */
    -webkit-line-clamp: 2; /* Numero massimo di righe visibili */
    overflow: hidden; /* Nasconde il contenuto in eccesso */
    color: #fff;
    height: 34px;
  }
}
