:root {
  --section-min-height: 260px;
  --card-min-width: 160px;
  --section-padding-top: 4px;
  --section-padding-left-right: 16px;
}

.section-artisti {
  display: flex;
  flex-direction: column;
}

.section-artisti__header {
  display: flex;
  padding-top: var(--section-padding-top);
  height: 100%;
  margin-bottom: 16px;
  min-block-size: 40px;
}

.section-artisti__header__title {
  flex-grow: 1;
  font-size: 1.5rem;
  font-weight: 700;
  align-content: flex-end;
  padding-left: 12px;
}

.section-artisti__header__show-all {
  font-size: 0.875rem;
  align-self: flex-end;
  margin-top: 2px;
  margin-right: 8px;
}

.section-artisti__header a {
  text-decoration: none;
  color: #fff;
  justify-content: flex-end;
}

.section-artisti__header a:hover {
  text-decoration: underline;
}

.container__card-artisti {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.button_play_green[data-index="ANNA"]::after {
  content: "Riproduci ANNA";
  white-space: nowrap;
}
.button_play_green[data-index="Geolier"]::after {
  content: "Riproduci Geolier";
  white-space: nowrap;
}
.button_play_green[data-index="Lazza"]::after {
  content: "Riproduci Lazza";
  white-space: nowrap;
}
.button_play_green[data-index="Tedua"]::after {
  content: "Riproduci Tedua";
  white-space: nowrap;
}
.button_play_green[data-index="Tony Effe"]::after {
  content: "Riproduci Tony Effe";
  white-space: nowrap;
}

.button_play_green[data-index="Cesare Cremonini"]::after {
  content: "Riproduci Cesare Cremonini";
  white-space: nowrap;
}

.button_play_green[data-index="Ghali"]::after {
  content: "Riproduci Ghali";
  white-space: nowrap;
}

.button_play_green[data-index="Vera Baddie"]::after {
  content: "Riproduci VERA BADDIE di ANNA";
  white-space: nowrap;
}

.button_play_green[data-index="Tutta vita"]::after {
  content: "Riproduci TUTTA VITA di Olly, JVLI";
  white-space: nowrap;
}

.button_play_green[data-index="Containers"]::after {
  content: "Riproduci Containers di Night Skinny";
  white-space: nowrap;
}

.button_play_green[data-index="Dio lo sa"]::after {
  content: "Riproduci DIO LO SA di Geolier";
  white-space: nowrap;
}

.button_play_green[data-index="Locura"]::after {
  content: "Riproduci LOCURA di Lazza";
  white-space: nowrap;
}

.button_play_green[data-index="Milano Angels"]::after {
  content: "Riproduci Milano Angels di Shiva";
  white-space: nowrap;
}

.button_play_green[data-index="Esci dal tunnel"]::after {
  content: "Riproduci ESCI DAL TUNNEL di Simba La Rue";
  white-space: nowrap;
}

.button_play_green[data-index="Coldplay"]::after {
  content: "Riproduci Radio di Coldplay";
  white-space: nowrap;
}

.button_play_green[data-index="The Weeknd"]::after {
  content: "Riproduci Radio di The Weeknd";
  white-space: nowrap;
}

.button_play_green[data-index="Annalisa"]::after {
  content: "Riproduci Radio di Annalisa";
  white-space: nowrap;
}

.button_play_green[data-index="Calcutta"]::after {
  content: "Riproduci Radio di Calcutta";
  white-space: nowrap;
}

.button_play_green[data-index="Cremonini"]::after {
  content: "Riproduci Radio di Cesare Cremonini";
  white-space: nowrap;
}

.button_play_green[data-index="Lucio Dalla"]::after {
  content: "Riproduci Radio di Lucio Dalla";
  white-space: nowrap;
}

/* Quando lo schermo è più piccolo di 1500px, mostra 6 colonne */
@media (max-width: 1500px) {
  .container__card-artisti .card-artisti:nth-child(n + 7) {
    display: none;
  }
  .container__card-artisti {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* Quando lo schermo è più piccolo di 1300px, mostra 5 colonne */
@media (max-width: 1300px) {
  .container__card-artisti .card-artisti:nth-child(n + 6) {
    display: none;
  }
  .container__card-artisti {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Quando lo schermo è più piccolo di 1200px, mostra 4 colonne */
@media (max-width: 1200px) {
  .container__card-artisti .card-artisti:nth-child(n + 5) {
    display: none;
  }
  .container__card-artisti {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Quando lo schermo è più piccolo di 1000px, mostra 3 colonne */
@media (max-width: 1000px) {
  .container__card-artisti .card-artisti:nth-child(n + 4) {
    display: none;
  }
  .container__card-artisti {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Quando lo schermo è più piccolo di 800px, mostra 2 colonne */
@media (max-width: 800px) {
  .container__card-artisti .card-artisti:nth-child(n + 3) {
    display: none;
  }
  .container__card-artisti {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Media query per visualizzazione mobile */
@media (max-width: 576px) {
  .container__card-artisti .card-artisti:nth-child(n + 3) {
    display: grid;
  }

  .container__card-artisti {
    grid-template-columns: repeat(7, 1fr);
    overflow-x: scroll;
  }

  .container__card-artisti::-webkit-scrollbar {
    display: none;
  }

  .section-artisti__header__show-all {
    display: none;
  }
  .section-artisti__header {
    margin-left: 10px;
  }

  .section-artisti__header__title {
    font-size: 20px;
  }
}
