<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet" href="../cards/card-artisti/index.css" />
    <link rel="stylesheet" href="../button/index.css" />
    <style>
      body {
        height: 100vh;
        margin: 0;
        padding: 0;
        background-color: #121212;
      }
    </style>
  </head>
  <body>
    <section class="section-artisti">
      <div class="section-artisti__header">
        <div class="section-artisti__header__title">
          <a href="#">Artisti più popolari</a>
        </div>
        <div class="section-artisti__header__show-all">
          <a href="#">Mostra tutto</a>
        </div>
      </div>
      <div class="container__card-artisti">
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img">
              <img
                src="Anna - Artista.jpeg"
                alt="Immagine di Anna"
                draggable="false"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green" data-index="ANNA">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div class="card-artisti__description__name" title="ANNA">
              <p>ANNA</p>
            </div>
            <div class="card-artisti__description__item">
              <p>Artista</p>
            </div>
          </div>
        </div>
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img">
              <img
                src="../../assets/img/Geolier - Artista.jpeg"
                alt="Immagine di Geolier"
                draggable="false"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green" data-index="Geolier">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div class="card-artisti__description__name" title="Geolier">
              <p>Geolier</p>
            </div>
            <div class="card-artisti__description__item">
              <p>Artista</p>
            </div>
          </div>
        </div>
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img">
              <img
                src="../../assets/img/Lazza - Artista.jpeg"
                alt="Immagine di Lazza"
                draggable="false"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green" data-index="Lazza">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div class="card-artisti__description__name" title="Lazza">
              <p>Lazza</p>
            </div>
            <div class="card-artisti__description__item">
              <p>Artista</p>
            </div>
          </div>
        </div>
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img">
              <img
                src="../../assets/img/Tedua - Artista.jpeg"
                alt="Immagine di Tedua"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green" data-index="Tedua">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div class="card-artisti__description__name" title="Tedua">
              <p>Tedua</p>
            </div>
            <div class="card-artisti__description__item">
              <p>Artista</p>
            </div>
          </div>
        </div>
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img">
              <img
                src="../../assets/img/TonyEffe - Artista.jpeg"
                alt="Immagine di Tony Effe"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green" data-index="Tony Effe">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div class="card-artisti__description__name" title="Tony Effe">
              <p>Tony Effe</p>
            </div>
            <div class="card-artisti__description__item">
              <p>Artista</p>
            </div>
          </div>
        </div>
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img">
              <img
                src="../../assets/img/Cesare-Cremonini - Artista.jpeg"
                alt="Immagine di Cesare Cremonini"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green" data-index="Cesare Cremonini">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div
              class="card-artisti__description__name"
              title="Cesare Cremonini"
            >
              <p>Cesare Cremonini</p>
            </div>
            <div class="card-artisti__description__item">
              <p>Artista</p>
            </div>
          </div>
        </div>
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img">
              <img
                src="../../assets/img/Ghali - Artista.jpeg"
                alt="Immagine di Ghali"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green" data-index="Ghali">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div class="card-artisti__description__name" title="Ghali">
              <p>Ghali</p>
            </div>
            <div class="card-artisti__description__item">
              <p>Artista</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-artisti">
      <div class="section-artisti__header">
        <div class="section-artisti__header__title">
          <a href="#">Album e singoli popolari</a>
        </div>
        <div class="section-artisti__header__show-all">
          <a href="#">Mostra tutto</a>
        </div>
      </div>
      <div class="container__card-artisti">
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img card-artisti__img__quadra">
              <img
                src="../../assets/img/Vera Baddie.jpeg"
                alt="Immagine di Vera Baddie"
                draggable="false"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green" data-index="Vera Baddie">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div class="card-artisti__description__name" title="VERA BADDIE">
              <p>VERA BADDIE</p>
            </div>
            <div
              class="card-artisti__description__item card-artisti__description__item_2"
            >
              <a>ANNA</a>
            </div>
          </div>
        </div>
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img card-artisti__img__quadra">
              <img
                src="../../assets/img/Tutta vita.jpeg"
                alt="Immagine di Tutta vita"
                draggable="false"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green" data-index="Tutta vita">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div class="card-artisti__description__name" title="TUTTA VITA">
              <p>TUTTA VITA</p>
            </div>
            <div
              class="card-artisti__description__item card-artisti__description__item_2"
            >
              <a>Olly</a>, <a>JVLI</a>
            </div>
          </div>
        </div>
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img card-artisti__img__quadra">
              <img
                src="../../assets/img/Container.jpeg"
                alt="Immagine di Containers"
                draggable="false"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green" data-index="Containers">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div class="card-artisti__description__name" title="Containers">
              <p>Containers</p>
            </div>
            <div
              class="card-artisti__description__item card-artisti__description__item_2"
            >
              <a>Night Skinny</a>
            </div>
          </div>
        </div>
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img card-artisti__img__quadra">
              <img
                src="../../assets/img/Dio lo sa.jpeg"
                alt="Immagine di Dio lo sa"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green" data-index="Dio lo sa">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div class="card-artisti__description__name" title="DIO LO SA">
              <p>DIO LO SA</p>
            </div>
            <div
              class="card-artisti__description__item card-artisti__description__item_2"
            >
              <a>Geolier</a>
            </div>
          </div>
        </div>
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img card-artisti__img__quadra">
              <img
                src="../../assets/img/Locura.jpeg"
                alt="Immagine di Locura"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green" data-index="Locura">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div class="card-artisti__description__name" title="LOCURA">
              <p>LOCURA</p>
            </div>
            <div
              class="card-artisti__description__item card-artisti__description__item_2"
            >
              <a>Lazza</a>
            </div>
          </div>
        </div>
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img card-artisti__img__quadra">
              <img
                src="../../assets/img/Milano Angels.jpeg"
                alt="Immagine di Milano Angels"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green" data-index="Milano Angels">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div class="card-artisti__description__name" title="Milano Angels">
              <p>Milano Angels</p>
            </div>
            <div
              class="card-artisti__description__item card-artisti__description__item_2"
            >
              <a>Shiva</a>
            </div>
          </div>
        </div>
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img card-artisti__img__quadra">
              <img
                src="../../assets/img/Esci dal tunnel.jpeg"
                alt="Immagine di Esci dal tunnel"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green" data-index="Esci dal tunnel">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div
              class="card-artisti__description__name"
              title="ESCI DAL TUNNEL"
            >
              <p>ESCI DAL TUNNEL</p>
            </div>
            <div
              class="card-artisti__description__item card-artisti__description__item_2"
            >
              <a>Simba La Rue</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-artisti">
      <div class="section-artisti__header">
        <div class="section-artisti__header__title">
          <a href="#">Stazioni radio più popolari</a>
        </div>
        <div class="section-artisti__header__show-all">
          <a href="#">Mostra tutto</a>
        </div>
      </div>
      <div class="container__card-artisti">
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img card-artisti__img__quadra">
              <img
                src="../../assets/img/brunomars radio.jpg"
                alt="Immagine di Brunomars"
                draggable="false"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green" data-index="Bruno Mars">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div
              class="card-artisti__description__item card-artisti__description__item_no-hover"
            >
              <p>Con Maroon 5, Katy Perry, One Direction e molti altri</p>
            </div>
          </div>
        </div>
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img card-artisti__img__quadra">
              <img
                src="../../assets/img/coldplay radio.jpg"
                alt="Immagine di Coldplay"
                draggable="false"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green" data-index="Coldplay">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div
              class="card-artisti__description__item card-artisti__description__item_no-hover"
            >
              <p>Con Harry Styles, Maroon 5, Keane e molti altri</p>
            </div>
          </div>
        </div>
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img card-artisti__img__quadra">
              <img
                src="../../assets/img/xo xo radio.jpg"
                alt="Immagine di The Weeknd"
                draggable="false"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green" data-index="The Weeknd">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div
              class="card-artisti__description__item card-artisti__description__item_no-hover"
            >
              <p>Con SZA, Katy Perry, Doja Cat e molti altri</p>
            </div>
          </div>
        </div>
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img card-artisti__img__quadra">
              <img
                src="../../assets/img/annalisa radio.jpg"
                alt="Immagine di Annalisa"
                draggable="false"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green" data-index="Annalisa">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div
              class="card-artisti__description__item card-artisti__description__item_no-hover"
            >
              <p>Con Elodie, Alfa, Rose Villain e molti altri</p>
            </div>
          </div>
        </div>
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img card-artisti__img__quadra">
              <img
                src="../../assets/img/calcutta.jpg"
                alt="Immagine di Calcutta"
                draggable="false"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green" data-index="Calcutta">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div
              class="card-artisti__description__item card-artisti__description__item_no-hover"
            >
              <p>Con Gazzelle, Frah Quintale, Franco126 e molti altri</p>
            </div>
          </div>
        </div>
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img card-artisti__img__quadra">
              <img
                src="../../assets/img/cremoni radio.jpg"
                alt="Immagine di Cremonini"
                draggable="false"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green" data-index="Cremonini">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div
              class="card-artisti__description__item card-artisti__description__item_no-hover"
            >
              <p>
                Con Lùnapop, Pinguini Tattici Nucleari, Negramaro e molti altri
              </p>
            </div>
          </div>
        </div>
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img card-artisti__img__quadra">
              <img
                src="../../assets/img/dalla radio.jpg"
                alt="Immagine di Lucio Dalla"
                draggable="false"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green" data-index="Lucio Dalla">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div
              class="card-artisti__description__item card-artisti__description__item_no-hover"
            >
              <p>
                Con Rino Gaetano, Vasco Rossi, Edoardo Bennato e molti altri
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
