<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./index.css" />
    <link rel="stylesheet" href="../cards/card-artisti/index.css" />
    <link rel="stylesheet" href="../button/index.css" />
    <style>
      body {
        height: 100vh;
        margin: 0;
        padding: 0;
        background-color: #121212;
      }
    </style>
  </head>
  <body>
    <section class="section-artisti">
      <div class="section-artisti__header">
        <div class="section-artisti__header__title">
          <a href="#">Artisti più popolari</a>
        </div>
        <div class="section-artisti__header__show-all">
          <a href="#">Mostra tutto</a>
        </div>
      </div>
      <div class="container__card-artisti">
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img">
              <img
                src="Anna - Artista.jpeg"
                alt="Immagine di Anna"
                draggable="false"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div class="card-artisti__description__name" title="ANNA">
              <p>ANNA</p>
            </div>
            <div class="card-artisti__description__item"><p>Artista</p></div>
          </div>
        </div>
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img">
              <img
                src="../../assets/img/Geolier - Artista.jpeg"
                alt="Immagine di Geolier"
                draggable="false"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div class="card-artisti__description__name" title="Geolier">
              <p>Geolier</p>
            </div>
            <div class="card-artisti__description__item"><p>Artista</p></div>
          </div>
        </div>
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img">
              <img
                src="../../assets/img/Lazza - Artista.jpeg"
                alt="Immagine di Lazza"
                draggable="false"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div class="card-artisti__description__name" title="Lazza">
              <p>Lazza</p>
            </div>
            <div class="card-artisti__description__item"><p>Artista</p></div>
          </div>
        </div>
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img">
              <img
                src="../../assets/img/Tedua - Artista.jpeg"
                alt="Immagine di Tedua"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div class="card-artisti__description__name" title="Tedua">
              <p>Tedua</p>
            </div>
            <div class="card-artisti__description__item"><p>Artista</p></div>
          </div>
        </div>
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img">
              <img
                src="../../assets/img/TonyEffe - Artista.jpeg"
                alt="Immagine di Tony Effe"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div class="card-artisti__description__name" title="Tony Effe">
              <p>Tony Effe</p>
            </div>
            <div class="card-artisti__description__item"><p>Artista</p></div>
          </div>
        </div>
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img">
              <img
                src="../../assets/img/Cesare-Cremonini - Artista.jpeg"
                alt="Immagine di Cesare Cremonini"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div
              class="card-artisti__description__name"
              title="Cesare Cremonini"
            >
              <p>Cesare Cremonini</p>
            </div>
            <div class="card-artisti__description__item"><p>Artista</p></div>
          </div>
        </div>
        <div class="card-artisti card-artisti--hover">
          <div class="card-artisti__img-play-container">
            <div class="card-artisti__img">
              <img
                src="../../assets/img/Ghali - Artista.jpeg"
                alt="Immagine di Ghali"
              />
            </div>
            <div class="card-artisti__play-button">
              <button class="button_play_green">
                <svg>
                  <path
                    d="m7.05 3.606 13.49 7.788a.7.7 0 0 1 0 1.212L7.05 20.394A.7.7 0 0 1 6 19.788V4.212a.7.7 0 0 1 1.05-.606z"
                  ></path>
                </svg>
              </button>
            </div>
          </div>
          <div class="card-artisti__description">
            <div class="card-artisti__description__name" title="Ghali">
              <p>Ghali</p>
            </div>
            <div class="card-artisti__description__item"><p>Artista</p></div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
