<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card</title>
    <link
      rel="preload"
      href="https://encore.scdn.co/fonts/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="card_sidebar.css" />
  </head>
  <body>
    <section class="create-playlist">
      <div class="title-subtitle">
        <h2>Crea la tua prima playlist</h2>
        <p>È facile, ti aiuteremo</p>
      </div>
      <div class="button-container">
        <button class="create-button">Crea playlist</button>
      </div>
    </section>
  </body>
</html>
