<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/components/common.css" />
    <link rel="stylesheet" href="/components/button/index.css" />
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="/components/footer/footer copyrights/index.css">
    <link rel="stylesheet" href="/components/footer/footer links/index.css">
    <link rel="stylesheet" href="/components/footer/footer social/index.css">
  </head>
  <body>
    <div id="footer_container">
        <nav id="footer_navbar"></nav>
    </div>
  </body>
</html>
