<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="/components/common.css" />
  </head>
  <body >
    <div class="footer_top_links" >
      <div class="footer_link_containers">
        <ul class="footer_links">
          <p>Azienda</p>
          
            <a href="https://www.spotify.com/it/about-us/contact/">
              <span>Chi siamo</span></a
            >
          
          
            <a href="https://www.lifeatspotify.com/">
              <span>Opportunità di lavoro</span></a
            >
          
          
            <a href="https://newsroom.spotify.com/">
              <span>For the record</span></a
            >
          
        </ul>
      </div>
      <div class="footer_link_containers">
        <ul class="footer_links">
          <p>Community</p>
          
            <a href="https://artists.spotify.com/"><span>Per artisti</span></a>
          
            <a href="https://developer.spotify.com/"
              ><span>Sviluppatori</span></a
            >
          
            <a href="https://ads.spotify.com/"><span>Pubblicità</span></a>
          
            <a href="https://investors.spotify.com/"
              ><span>Investitori</span></a
            >
          
            <a href="https://spotifyforvendors.com/"><span>Venditori</span></a>
          
        </ul>
      </div>
      <div class="footer_link_containers">
        <ul class="footer_links">
          <p>Link utili</p>
          
            <a href="https://support.spotify.com/"><span> Assistenza</span></a>
          
            <a href="https://www.spotify.com/it/free/"
              ><span>App per cellulare gratuita</span></a
            >
          
          
            <a href="https://www.spotify.com/it/legal/end-user-agreement/#s15"
              ><span>Diritti del consumatore</span></a
            >
          
        </ul>
      </div>
      <div class=footer_link_containers>
        <ul class="footer_links">
          <p>Piani Spotify</p>
          
            <a
              href="https://www.spotify.com/it/premium/#ref=spotifycom_footer_premium_individual"
              ><span> Premium Individual</span></a
            >
          
            <a
              href="https://www.spotify.com/it/duo/#ref=spotifycom_footer_premium_duo"
              ><span>Premium Duo</span></a
            >
          
            <a
              href="https://www.spotify.com/it/family/#ref=spotifycom_footer_premium_family"
              ><span> Premium Family</span></a
            >
          
          
            <a
              href="https://www.spotify.com/it/student/#ref=spotifycom_footer_premium_student"
              ><span> Premium Student</span></a
            >
          
          
            <a
              href="https://www.spotify.com/it/free/#ref=spotifycom_footer_free"
              ><span>Spotify Free</span></a
            >
          
        </ul>
      </div>
    </div>
  </body>
</html>
