
.footer_top_links {
  display: flex;
  flex-flow: column wrap;
}

.footer_link_containers {
  margin-bottom: 32px;
  width: fit-content;
  margin-right: 24px;
}

.footer_link_containers ul {
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  box-sizing: border-box;
  padding-inline: 32px 0px;
  padding-inline-start: 0px;
}
.footer_link_containers ul:first-child {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
   display: block;
}
.main_footer_links p{white-space: nowrap;}

.main_footer_links a {
  margin: 8px 0px;
  font-size: 16px;
  font-weight: 400;
  color: #b3b3b3;
  text-decoration: none;
  cursor: pointer;
  width: fit-content;
  display: block;
  box-sizing: border-box;
  cursor: text;
}
.main_footer_links a span {
  padding: 0px 0px 8px;
  width: auto;
  font-size: 16px;
  font-weight: 400;
  display: block;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .footer_top_links {
    flex-direction: row;
  }
}
@media (min-width: 768px) {
  .footer_link_containers {
    width: 40%;
    margin-right: 24px;
  }
}
@media (min-width: 992px) {
  .footer_top_links {
    flex: 1 1 50%;
    padding-bottom: 0px;
  }
}

@media (min-width: 992px) {
  .footer_link_containers {
    width: 20%;
  }
}
