<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>section_songs_viral50</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="../button/index.css" />
    <link rel="stylesheet" href="index.css" />
  </head>

  <body>
    <section>
      <div>
        <!--DIV SONG-->
        <div>
          <!--Numero-->
          <p></p>
        </div>
        <div>
          <!--Title-->
          <img src="Images_viral50/Icona APT.jpeg" alt="Icona_album_APT." />
          <p class="font_small_bold">APT.</p>
          <p>ROSÉ, Bruno Mars</p>
        </div>
        <div>
          <!--Album-->
          <p>APT.</p>
        </div>
        <div>
          <!--Duration-->
          <button></button>
          <p>2:49</p>
          <button></button>
        </div>
      </div>
    </section>
  </body>
</html>
