<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card_album</title>
    <link rel="stylesheet" href="../../common.css" />
    <link rel="stylesheet" href="./card_album.css" />
  </head>

  <body style="color: white">
    <div class="card">
      <div class="image-container">
        <img src="brunomars_radio.jpg" alt="PopularRadio_BrunoMars" />
        <div class="card_album_play_button">
          <button type="button"></button>
        </div>
      </div>
      <p>Con Maroon 5, Katy Perry, Adele e molti altri</p>
    </div>
  </body>
</html>
