<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card_album</title>
    <link rel="stylesheet" href="../common.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="preload"
      href="https://encore.scdn.co/fonts/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
  </head>
  <body style="color: white">
    <div class="card">
      <img src="brunomars_radio.jpg" alt="PopularRadio_BrunoMars" />
      <p>Con Maroon 5, Katy Perry, Adele e molti altri</p>
    </div>
  </body>
</html>
